{% load static %}

<div class="homepage">
  <div class="top font-bold text-center text-gray-600 mb-20">
    <img src="{% static 'images/logo.png' %}" alt="logo" class="m-auto mb-5" />
    <h1 class="text-7xl mb-12">"تفاصيل"</h1>
    <h2 class="text-3xl mb-5">ذكاء إصطناعي لتحسين ظهور منتجاتك</h2>
    <h3 class="text-xl font-light">قم بتوليد وصف محسن لمنتجاتك في المتجر</h3>
  </div>
  <div class="features text-gray-600 text-center">
    <div class="p-4">
      <h1 class="text-3xl font-bold mb-8">لتجارة أسهل</h1>
      <div class="mb-8">
        <h2 class="text-xl font-bold mb-2">
          غيّر نمط أعمال التجارة الإلكترونية لديك مع الوصف الذكي للمنتجات
        </h2>

        <p class="mb-4">
          يعتمد تطبيقنا على تقنيات التعلّم الآلي المتطوّرة لتحليل خصائص المنتجات
          واستخراج السمات الرئيسية التي تتناسب مع متطلّبات العملاء المحتملين.
          كما يمكن للتطبيق التعرّف على الكلمات المفتاحية والعبارات اللازمة
          لتحسين تصنيف المنتج على محركات البحث، مما يزيد من مدى ظهور المنتج
          وبالتالي يزيد من فرص البيع.
        </p>
      </div>
      <div class="mb-8">
        <h2 class="text-xl font-bold mb-2">
          "توليد وصف منتجات مبتكرة بكل سهولة مع "مسرد
        </h2>

        <p class="mb-4">
          يوفّر تطبيقنا واجهة مستخدم بسيطة وسهلة الاستخدام لتمكين البائعين من
          إدخال معلومات المنتج مثل الصور والوصف والمواصفات. بمجرد تحميل هذه
          المعلومات، يستخدم التطبيق تقنيات توليد اللغة الطبيعية لإنشاء وصف فريد
          ومثير للاهتمام يلتقط جوهر المنتج.
        </p>
      </div>
      <div class="mb-8">
        <h2 class="text-xl font-bold mb-2">
          استخدم تقنية الذكاء الاصطناعي لزيادة مبيعات منتجاتك
        </h2>

        <p class="mb-4">
          بفضل تطبيقنا، يمكن للبائعين توفير الوقت والموارد على إنشاء وصف المنتج،
          مما يمكّنهم من التركيز على الجوانب الأخرى المهمة لأعمالهم. بإنشاء وصف
          دقيق وذي جودة عالية، يزيد من فرص جذب المزيد من العملاء المحتملين
          وزيادة مبيعات المنتجات. بالإضافة إلى ذلك، يمكن استخدام التطبيق لإنشاء
          وصفات منتجات جديدة وفريدة، مما يساعد على تميز المنتج عن المنافسين
          وزيادة الانتشار عبر وسائل التواصل الاجتماعي.
        </p>
      </div>

      <button
        onclick="document.querySelector('#salla-installation').click()"
        class="bg-orange-500 text-white font-bold py-2 px-4 rounded"
      >
        ابدأ الآن
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {});
</script>

<style></style>
