{% load custom_filters %}

<nav class="bg-gray-100 px-4 py-3 flex items-center justify-center">
  <ul class="flex space-x-2">
    {% if pagination.currentPage > 1 %}
    <li>
      <a
        href="/?page={{ pagination.currentPage|minus }}"
        class="bg-gray-300 hover:bg-gray-400 px-2 py-1 rounded"
      >
        {{ pagination.currentPage|minus }}
      </a>
    </li>
    {% endif %}

    <li>
      <a
        href="/?page={{ pagination.currentPage }}"
        class="bg-gray-300 hover:bg-gray-400 px-2 py-1 rounded current-page"
      >
        {{ pagination.currentPage }}
      </a>
    </li>
    {% if pagination.currentPage < pagination.totalPages %}
    <li>
      <a
        href="/?page={{ pagination.currentPage|plus }}"
        class="bg-gray-300 hover:bg-gray-400 px-2 py-1 rounded"
      >
        {{ pagination.currentPage|plus }}
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
