{% load custom_filters %}{% load static %}

{% include 'components/toggles.html' %}

<div class="products pt-12 flex flex-wrap">
  {% for product in products %}
  {% include 'components/product.html' %}
  {% endfor %}
</div>

{% include 'components/pagination.html' %}

<script src="{% static 'js/products.js' %}" defer></script>
<script src="https://unpkg.com/keyboard-actions@latest"></script>

<script>
let focusedKeywordInputIndex = -1;

function goThrowKeywordInputByTabButton(){
  const kb = new KeyboardActions();
  const products = document.querySelectorAll('.product');

  kb.assignKeyAction('Tab', (e) => {
    const input = products[++focusedKeywordInputIndex].querySelector('.keywords-input input');
    const end = input.value.length;

    input.setSelectionRange(end, end);
    input.value = input.value.trim() + ' ';
    input.focus();

    // cycle through products
    if (focusedKeywordInputIndex === products.length-1)
      focusedKeywordInputIndex = -1;

  });

  kb.assignKeyAction("Tab", kb.prevent);
}

function submitKeywordButtonOnEnter(){
  const keywordInputs = document.querySelectorAll('.keywords-input input');
  keywordInputs.forEach(input => {
    input.addEventListener('keydown', (e) => {
      if (e.key === 'Enter') {
        input.parentElement.querySelector('button i').click();
      }
    })
  });
}

document.querySelectorAll('.keywords-input input').forEach((input, number) => {
  input.addEventListener('focus', (e) => {
    
    focusedKeywordInputIndex = number;
    
    const products = document.querySelectorAll('.product');
    if (focusedKeywordInputIndex === products.length-1)
      focusedKeywordInputIndex = -1;
  })
})

goThrowKeywordInputByTabButton();
submitKeywordButtonOnEnter();
</script>

<style>
  .keywords-input input:focus {
    border: 2px solid green;
  }
</style>
