<div class="toggels flex flex-col items-end mt-5">
  <div id="toggle-processed-cards" class="flex items-center cursor-pointer mt-3">
    <div class="relative">
      <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
      <div
        class="circle transition-all absolute inset-y-0 w-6 h-6 bg-orange-500 rounded-full shadow transition-transform transform translate-x-0"
        style="top: 50%; transform: translateY(-50%)"
      ></div>
    </div>
    <p class="ml-3 font-bold text-lg text-gray-600">إخفاء المنتجات المنجزة</p>
  </div>

  <div id="toggle-processed-sections" class="flex items-center cursor-pointer mt-3">
    <div class="relative">
      <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
      <div
        class="circle transition-all absolute inset-y-0 w-6 h-6 bg-orange-500 rounded-full shadow transition-transform transform translate-x-0"
        style="top: 50%; transform: translateY(-50%)"
      ></div>
    </div>
    <p class="ml-3 font-bold text-lg text-gray-600">
      إخفاء الأجزاء المنجزة على حدى
    </p>
  </div>
</div>

<!-- <div class="flex space-x-4 flex-row-reverse mt-10 space-x-2 space-x-reverse">
  <button
    id="toggle-processed-cards"
    class="
      px-4 py-2 bg-gray-300 text-gray-900 rounded-lg 
      transition-colors duration-300 text-sm font-semibold
      hover:bg-gray-400 focus:outline-none focus:bg-gray-400
    "
  >إخفاء المنتجات المنجزة</button>

  <button
    id="toggle-processed-sections"
    class="
      act
      px-4 py-2 bg-gray-300 text-gray-900 rounded-lg 
      transition-colors duration-300 text-sm font-semibold
      hover:bg-gray-400 focus:outline-none focus:bg-gray-400
    "
  >إخفاء الأجزاء المنجزة على حدى</button>
</div> -->


<script>
  const toggleProcessedCards = document.getElementById(
    "toggle-processed-cards"
  );
  const toggleProcessedSections = document.getElementById(
    "toggle-processed-sections"
  );

  toggleProcessedCards.addEventListener("click", (e) => {
    e.stopPropagation();

    const products = document.querySelectorAll(".product");
    const circle = toggleProcessedCards.querySelector(".circle");
    const on = circle.classList.contains("right-0");

    if (on) {
      circle.classList.remove("right-0");
      toggleProcessedCards.querySelector("p").innerText =
        "إخفاء المنتجات المنجزة";

      document
        .querySelectorAll(".product[data-is-fully-processed='true']")
        .forEach((elm) => {
          elm.classList.remove("hidden");
        });
    } else {
      circle.classList.add("right-0");
      toggleProcessedCards.querySelector("p").innerText =
        "إظهار المنتجات المنجزة";

      document
        .querySelectorAll(".product[data-is-fully-processed='true']")
        .forEach((elm) => {
          elm.classList.add("hidden");
        });
    }
  });

  toggleProcessedSections.addEventListener("click", (e) => {
    const circle = toggleProcessedSections.querySelector(".circle");
    const on = circle.classList.contains("right-0");

    if (on) {
      circle.classList.remove("right-0");
      toggleProcessedSections.querySelector("p").innerText =
        "إخفاء الأجزاء المنجزة على حدى";

      document.querySelectorAll("[data-is-processed='true']").forEach((elm) => {
        elm.classList.remove("hidden");
      });
    } else {
      circle.classList.add("right-0");
      toggleProcessedSections.querySelector("p").innerText =
        "إظهار الأجزاء المنجزة على حدى";

      document.querySelectorAll("[data-is-processed='true']").forEach((elm) => {
        elm.classList.add("hidden");
      });
    }
  });
</script>
