{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
        integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap">
    <title>{% block title %}My Website{% endblock %} | Salla SEO Plugin</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% if page.md %}
    <link rel="stylesheet" href="{% static 'css/md.css' %}">
    {% endif %} 
  </head>
  <body class="bg-gray-100 m-auto flex flex-col justify-between" style="min-height: 100vh">
    <header class="bg-gray-900 py-4">
      <div class="container mx-auto flex items-center justify-between">
        <a href="/">
          <img src="{% static 'images/logo.png' %}" alt="logo" class="h-16">
        </a>
        {% if nav_pages %}
        <nav>
          <ul class="flex space-x-4">
            <li><a href="/" class="text-gray-300 hover:text-white whitespace-nowrap">الرئيسية</a></li>
            {% for page in nav_pages %}
            <li><a href="{{ page.url }}" class="text-gray-300 hover:text-white whitespace-nowrap">{{ page.nav_name }}</a></li>
            {% endfor %}

            {% if is_authenticated %}
            <li><a href="{% url 'app:logout' %}" class="text-gray-300 hover:text-white whitespace-nowrap">تسجيل خروج</a></li>
            {% else %}
            <li><a href="#" onclick="openPopup(loginPopupId)" class="text-gray-300 hover:text-white whitespace-nowrap">تسجيل دخول</a></li>
            <li>
              <a href="{{ installation_url }}" class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded whitespace-nowrap" target="_blank">
                التنصيب في سلة
              </a>
            </li>
            {% endif %}

          </ul>
        </nav>
        {% endif %}
      </div>
    </header>

    <main class="container mx-auto">
      {% block content %}{% endblock %}
    </main>

    {% include 'popups.html' %}

    <footer class="bg-gray-900 py-4 mt-12">
      <div class="container mx-auto text-center text-gray-300">
        &copy; 2023 Salla SEO Plugin. All Rights Reserved.
      </div>
    </footer>

    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>