{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salla SEO Plugin</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
        integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /* Style the popup container */
        .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }
    </style>
</head>

<body class="p-8 bg-gray-100 select-none m-auto" style="max-width: 80vw">
    <h1 class="text-3xl font-bold text-center text-black">Welcome to Salla SEO Plugin.</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}

    <div class="text-center mt-10">
        <a class="border-2 px-3 py-1 border-black bg-red-600 text-white font-bold" target="_blank"
            href="{{ installation_url }}">Install the APP</a>
    </div>
    <div class="products pt-12 flex flex-wrap">
        {% for product in products %}
        <div class="product bg-white w-56 rounded-md overflow-hidden mb-4 flex-shrink-0 flex-grow mx-2 flex flex-col">
            <div class="product-image">
                <img class="block w-full" src="{{ product.main_image }}" alt="Product Image">
            </div>
            <div class="product-info px-4 py-5">
                <h3 class="product-title font-bold mb-2">{{ product.name }}</h3>
                <p class="product-description text-sm break-all">{{ product.description }}</p>
                <p class="product-price text-right">{{ product.price.amount }} {{ product.price.currency }}</p>
            </div>

            <div class="keywords px-4 py-5" style="font-size: 0;">
                <div>
                    {% for keyword in keywords %}
                    <span class="keyword text-sm text-center px-1 py-1 bg-yellow-300 rounded font-bold mr-1 mb-1 inline-block">
                        {{ keyword }}<!--
                        --><span class="delete-keyword rounded inline-block text-white font-bold bg-red-500 w-4 text-center ml-1">&times;</span>
                    </span>
                    {% endfor %}
                </div>

                <div class="flex rounded mt-2 overflow-hidden">
                    <input type="text"
                        class="border-2 border-solid border-gray-300 w-full p-1 text-sm flex-grow outline-none"
                        placeholder="Add a keyword">
                    <button class="add-keyword text-sm py-1 px-2 font-bold text-white bg-blue-500 hover:bg-blue-700 flex-shrink-0 flex-grow-0">Add</button>
                </div>

            </div>

            <div class="bottom-0 flex-grow flex flex-col-reverse">
                <button class="block bg-blue-500 hover:bg-blue-700 w-full font-bold text-white py-2 bottom-0"
                    data-product-id="{{ product.id }}" data-url="{% url 'app:list_descriptions' product.id %}">
                    List Old Descriptions
                </button>

                <button class="block bg-red-500 hover:bg-red-700 w-full font-bold text-white py-2 bottom-0"
                    data-product="{{ product|to_json }}">Get Description</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination flex flex-wrap justify-center">
        {% if pagination.currentPage > 1 %}
        <div class="current page border-2 border-black w-14 flex-grow-0 text-center">
            <a class="font-bold text-5xl w-full block"
                href="?page={{ pagination.currentPage|minus }}">{{ pagination.currentPage|minus }}</a>
        </div>
        {% endif %}
        <div class="current page border-2 border-black w-14 flex-grow-0 text-center bg-red-200">
            <a class="font-bold text-5xl w-full block"
                href="?page={{ pagination.currentPage }}">{{ pagination.currentPage }}</a>
        </div>
        {% if pagination.currentPage < pagination.totalPages %}
        <div class="current page border-2 border-black w-14 flex-grow-0 text-center">
            <a class="font-bold text-5xl w-full block"
                href="?page={{ pagination.currentPage|plus }}">{{ pagination.currentPage|plus }}</a>
        </div>
        {% endif %}
    </div>

    <!-- Popup container -->
    <div id="popup" class="popup">
        <!-- Popup content -->
        <div class="bg-white rounded-lg mx-auto mt-20 p-6" style="width: 70vw;">
            <div class="flex justify-end">
                <button class="text-gray-500 hover:text-gray-700 font-bold text-xl"
                    onclick="closePopup()">&times;</button>
            </div>
            <h2 class="text-xl font-bold mb-4">Popup</h2>
        </div>
    </div>

    <script>
        const getDescriptionButtons = document.querySelectorAll('button[data-product]');
        const listOldDescriptionsButtons = document.querySelectorAll('button[data-product-id]');
        const deleteKeywordButtons = document.querySelectorAll('.delete-keyword');
        const addKeywordButtons = document.querySelectorAll('.add-keyword');

        function createElement(html) {
            const div = document.createElement('div');
            div.innerHTML = html;
            return div.firstChild
        }

        function openPopup() {
            document.getElementById("popup").style.display = "block";
        }

        function closePopup(e) {
            const popup = document.getElementById("popup")
            popup.style.display = "none";
            popup.querySelectorAll('.description-item').forEach(elm => elm.remove())
        }

        function buttonToLoading(button){
            const oldText = button.innerText;
            button.innerText = 'Loading...';
            button.disabled = true;
            button.classList.add('cursor-not-allowed', 'opacity-50');

            // return undo function
            return () => {
                button.innerText = oldText;
                button.disabled = false;
                button.classList.remove('cursor-not-allowed', 'opacity-50');
            }
        }

        function createDeleteKeywordButton(){
            const deleteKeywordButton = document.createElement('span');
            const classes = [
                'delete-keyword', 'rounded', 'inline-block', 'text-white', 'font-bold', 
                'bg-red-500', 'hover:bg-red-700', 'cursor-pointer','w-4', 'text-center', 'ml-1'
            ];

            deleteKeywordButton.classList.add(...classes);
            deleteKeywordButton.innerHTML = '&times;';

            return deleteKeywordButton;
        }

        function createKeywordElement(keyword) {
            const keywordElement = document.createElement('span');
            const classes = [
                'keyword', 'text-sm', 'text-center', 'px-1', 'py-1', 'bg-yellow-300',
                'rounded', 'font-bold', 'mr-1', 'mb-1', 'inline-block',
            ]

            keywordElement.classList.add(...classes);
            keywordElement.innerText = keyword;

            return keywordElement;
        }

        function getKeywords(keywordsElement){
            return Array.from(
                keywordsElement.querySelectorAll('.keyword')
            ).map(keyword => keyword.firstChild.textContent.trim())
        }

        function addKeyword(keyword, keywordsElement){
            const keywordElement = createKeywordElement(keyword);
            const deleteKeywordButton = createDeleteKeywordButton();
            keywordElement.appendChild(deleteKeywordButton);
            keywordsElement.appendChild(keywordElement);

            deleteKeywordButton.addEventListener('click', () => deleteKeywordButton.parentElement.remove());
        }

        function resetTextInputField(textInputField){
            textInputField.value = '';
            textInputField.focus();
        }

        function createDescriptionPopupListItem(description){
            const descriptionElement = createElement(`
                <div class="description-item mb-8 pb-5 border-b-2 border-solid">
                    <span>${description.chat_gpt_log.answer}</span>
                    <button class="set-description bg-red-500 hover:bg-red-700 text-white text-sm font-bold px-2 py-1 rounded mt-1">Set This Description</button>
                </div>
            `);
            
            if (description.meta.keywords_str){
                const keywordsElement = document.createElement('span');

                keywordsElement.innerText = description.meta.keywords_str;
                keywordsElement.classList.add('text-gray-500', 'text-sm', 'block', 'font-bold', 'flex', 'flex-row-reverse', 'mt-3');
                descriptionElement.appendChild(keywordsElement);
            }

            return descriptionElement;
        }

        getDescriptionButtons.forEach(button => {
            button.addEventListener('click', () => {
                const undo = buttonToLoading(button);
                const url = "{% url 'app:ask_for_description' %}";
                const keywordsElement = button.parentElement.parentElement.querySelector('.keywords div:first-child');
                const request = {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        ...JSON.parse(button.getAttribute('data-product')),
                        keywords: getKeywords(keywordsElement)
                    })
                };

                fetch(url, request)
                    .then(response => response.json())
                    .then(data => {
                        const descriptionElement = button.parentElement.parentElement.querySelector('.product-description');
                        descriptionElement.innerText = data.description;
                    })
                    .catch(error => console.log(error) )
                    .finally(() => undo() );

            });
        });

        listOldDescriptionsButtons.forEach(button => {
            button.addEventListener('click', () => {
                const undo = buttonToLoading(button);
                const url = button.dataset.url;
                const product = JSON.parse(
                    button.parentElement.querySelector('[data-product]').dataset.product
                );

                openPopup();

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const popup = document.getElementById('popup').querySelector('.bg-white');

                        popup.querySelector('h2').innerText = product.name;
                        data.forEach(description => popup.appendChild(
                            createDescriptionPopupListItem(description)
                        ))
                    })
                    .catch(error => console.log(error))
                    .finally(() => undo() );
            });
        });

        deleteKeywordButtons.forEach(button =>
            button.addEventListener('click', () => button.parentElement.remove())
        )

        addKeywordButtons.forEach(button => {
            button.addEventListener('click', () => {
                const inputField = button.previousElementSibling;
                const keyword = inputField.value;
                const keywordsElement = button.parentElement.parentElement.parentElement.querySelector('.keywords div:first-child');
                const keywordsArray = getKeywords(keywordsElement);

                if (keywordsArray.includes(keyword)) {
                    resetTextInputField(inputField);
                    return;
                }

                addKeyword(keyword, keywordsElement);
                resetTextInputField(inputField);
            });
        })
    
        document.querySelectorAll('*').forEach(element => {
            element.setAttribute('dir', 'auto')
        })
    </script>

</body>

</html>