{% load custom_filters %} {% load static %}

<div class="products pt-12 flex flex-wrap">
  {% for product in products %}
  <div
    class="product bg-white w-56 rounded-md overflow-hidden mb-4 flex-shrink-0 flex-grow mx-2 flex flex-col"
  >
    <div class="product-image">
      <img
        class="block w-full"
        src="{{ product.main_image }}"
        alt="Product Image"
      />
    </div>
    <div class="product-info px-4 py-5">
      <h3 class="product-title font-bold mb-2">{{ product.name }}</h3>
      <p class="product-description text-sm break-all">
        {{ product.description }}
      </p>
      {% comment %}
      <p class="product-price text-right">
        {{ product.price.amount }} {{ product.price.currency }}
      </p>
      {% endcomment %}
    </div>

    <div class="keywords px-4 py-5" style="font-size: 0">
      <div>
        {% for keyword in keywords %}
        <span
          class="keyword text-sm text-center px-1 py-1 bg-yellow-300 rounded font-bold mr-1 mb-1 inline-block"
        >
          {{ keyword }}<!--
                    --><span
            class="delete-keyword rounded inline-block text-white font-bold bg-red-500 w-4 text-center ml-1"
            >&times;</span
          >
        </span>
        {% endfor %}
      </div>

      <div class="flex rounded mt-2 overflow-hidden">
        <input
          type="text"
          class="border-2 border-solid border-gray-300 w-full p-1 text-sm flex-grow outline-none"
          placeholder="Add a keyword"
        />
        <button
          class="add-keyword text-sm py-1 px-2 font-bold text-white bg-blue-500 hover:bg-blue-700 flex-shrink-0 flex-grow-0"
        >
          Add
        </button>
      </div>
    </div>

    <div class="bottom-0 flex-grow flex flex-col-reverse">
      <button
        class="block bg-blue-500 hover:bg-blue-700 w-full font-bold text-white py-2 bottom-0"
        data-product-id="{{ product.id }}"
        data-url="{% url 'app:list_descriptions' product.id %}"
      >
        List Old Descriptions
      </button>

      <button
        class="block bg-red-500 hover:bg-red-700 w-full font-bold text-white py-2 bottom-0"
        data-product="{{ product|to_json }}"
      >
        Get Description
      </button>
    </div>
  </div>
  {% endfor %}
</div>

<nav class="bg-gray-100 px-4 py-3 flex items-center justify-center">
  <ul class="flex space-x-2">
    {% if pagination.currentPage > 1 %}
    <li>
      <a
        href="?page={{ pagination.currentPage|minus }}"
        class="bg-gray-300 hover:bg-gray-400 px-2 py-1 rounded"
      >
        {{ pagination.currentPage|minus }}
      </a>
    </li>
    {% endif %}

    <li>
      <a
        href="?page={{ pagination.currentPage }}"
        class="bg-gray-300 hover:bg-gray-400 px-2 py-1 rounded current-page"
      >
        {{ pagination.currentPage }}
      </a>
    </li>
    {% if pagination.currentPage < pagination.totalPages %}
    <li>
      <a
        href="?page={{ pagination.currentPage|plus }}"
        class="bg-gray-300 hover:bg-gray-400 px-2 py-1 rounded"
      >
        {{ pagination.currentPage|plus }}
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

<script src="{% static 'js/products.js' %}"></script>
